# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Dataset & generated data
dataset/
faces/
frames/

# Uploads
uploads/

# ML model files
*.h5
*.pt
*.onnx

# Reports
report/
webapp/reports/

# OS files
.DS_Store
Thumbs.db
