--only-binary=:all:

streamlit>=1.28.0
numpy>=2.0.0

# FIXED OpenCV
opencv-python-headless==4.11.0.86

torch>=2.0.0
torchvision>=0.15.0
albumentations>=1.3.0
reportlab>=4.0.0
scikit-learn>=1.3.0
matplotlib>=3.7.0
Pillow>=10.0.0
tqdm>=4.65.0

# REMOVE THESE (they reinstall opencv-python)
# mtcnn
# facenet-pytorch
# albumentations
# librosa
# soundfile
# seaborn
